{% extends 'template.html' %}
{% load static %}
{% block mymessage %}
    <link rel="stylesheet" href="{% static 'css/ViewAllPd.css' %}">
    <div class="Main">
        <div class="Main1">
            <div class="Main_header">   
                <a href=""> 
                    <h2>{{title}}</h2>
                </a>
            </div>
            <hr >
            <div class="Main_Content">
                <div class="Main_Content_1">
                    {% for y in Pd %} 
                    <div class="Main_Content_2">  
                        <a href="../ViewPd/{{y.idpd}}" class="SP1">
                            <div class="SP"> 
                                <div class="img">     
                                    <img src="{% static y.imgpd %}">
                                </div>
                                <hr>
                                <div class="Content"> 
                                    <div class="Content1">{{y.namepd}}</div>
                                    
                                    <div class="Content2"> <h3 style="color:red ;"> {{y.price}}</h3> </div>
                                    
                                    <div class="Content3"><p style="font-size: 12px;">Tp HCM</p>
                                        <p style="font-size: 12px;">{{y.amount}} </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

        