*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.Main{
    width: 100%;
    height: 100vh;
    /* background-image: url("../images/xemay2.jpg"); */
    background-repeat: no-repeat;
    background-size: 100vh;
    background-attachment: scroll;
    background-size: cover;
}
.Main .Main_Container{
  position: absolute;
    top: 50%;
    left: 70%;
    width: 400px;
    transform: translate(-50%,-50%);
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.Main .Main_Container h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #777;
}
.Main_Container  form {
    padding:  0 40px;
    box-sizing: border-box;
}
form .txt{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}
.txt input{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}
.txt  label{
    position: absolute;
    top:10%;
    left: 5%;
    font-size: 16px;
}
.Remenber {
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.button1{
    margin: 30px 0;
   
}
.button1 input{
    height: 40px;
    width: 100%;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-weight: 700;
    color: #e9f4fb;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.button1 input:hover{
    border-color: #2691d9;
    transition: .5s;
}
.Remenber2 a{
    color: blue;
}
.Remenber2 a:hover{
    text-decoration: underline;
}
.DK a {
    color: blue;
}
.DK a:hover{
    text-decoration: underline;
}
.DK {
    text-align: center;
    margin: 30px 0;
}
