*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

/* Start Header */
.Header{
    background-color: #000000;
    display: flex;
    height: 85px;
    padding: 5px 40px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9;   
}
.Header .Header-left {
    display: flex;
    width: 50%;
    margin-left: 100px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
       
}
.Header .Header-left   a {
    height: 100%;
}
.Header .Header-left   a  img {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 65%;
}

.Header .Header-left form  .Search{

    /* padding-left: 50px;
    padding-top: 20px; */
    position: relative;
    display: flex;
    justify-content: center;

}
.Header .Header-left form .Search .Search_input input{
    min-height: 40px;
    min-width: 260px;
    border-radius: 10px;
}
.Header .Header-left form .Search .Search_button button {
    /* height: 100%; */
    /* min-height: 35px; */
    min-width: 55px;
    
}
.Header .Header-left form .Search .Search_button   {
    min-height: 40px;
   
    
}
.Header .Header-left form .Search .Search_button button:hover  {
  background-color: #777;
   
    
}
.Header .Header-left form .Search .Search_button button  {
  
    background-color: red;
    height: 100%;
    border-radius: 10px;
}

.Header .Header-right{
    padding-left: 100px;
    width: 50%;
    display: flex;
    
}
.Header .Header-right .Gach{
    border-right: 4px solid #FFFFFF;
    height: 0.8125rem;
}
.Header .Header-right .cotten{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    
}
.Header .Header-right .cotten li {

list-style: none;

}
.Header .Header-right .cotten li a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

color: #F5F5F5;
}
.Header .Header-right .cotten li a:hover{
    color: #777;
    
}
 /* End Header */
 /* Start Main */
 .Main{
   padding-left: 200px;
   padding-top: 100px;
   padding-right: 200px; 
   padding-bottom: 20px;
   background-color: #D9D9D9;
   min-height: 700px;
   
 }

.Main_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
 }
.Main_header a{
    text-decoration: none;
    color: black;
    border: 2px solid #777;
    border-radius: 5px;
 }
 .Main_header a :hover{
    background-color: #777;
 }
.Main_Content .Main_Content_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    
}
.Main_Content{
    padding-top: 15px;
    
}


.Main_Content_2{
    border: 2px solid #777;
    border-radius: 5px;
    flex-basis: 20%;
    max-width: 18%;
    background-color: white;
   
}
.SP {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.SP .img{
    width: 100%;
   padding-top: 100%;
    position: relative;
    top: 0;
    left: 0;

}
.SP .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.Main_Content .Main_Content_1 a  .Content{
   
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 0.5rem;
} 
.Main_Content .Main_Content_1 a .Content .Content2{
  
    padding: 0.5rem 0 0;
} 
.Main_Content .Main_Content_1 a .Content .Content3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 0 0;
} 
 
.Main_Content .Main_Content_1 a  {
    text-decoration: none;
    color: black;
  
}
.Main_Content_2:hover{
    border: 1px solid;
    border-color: red;
    transition: 0.4s;
    
}


/* End Main */

/*  Start footer */
.Footer{
    
    background-color: #FFFFFF;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    color: rgba(0,0,0,.65);
    font-size: .75rem;
    
   
}
.Footer .Footer_Content{
    padding-top: 20px;
    font-size: .85rem;
}
.Footer .Footer_Content li{
    padding-top: 15px;
    list-style: none;
    
}
.Footer  li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #000000;
}
    

.Footer .Footer_1{
    display: flex;
    justify-content: space-around;
    height: 60%;
    
 }
 .Footer_1 h2{
    background: #C3C1C1;
    border: 1px solid #000000;
    border-radius: 5px;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    height: 35px;
    text-align: center;
    padding-top: 5%;
 }
 .Footer .Footer_1 .Follow .Follow_Content li{
    padding-top: 20px;
    font-size: .85rem;
    list-style: none;
    
    
 }
 .Footer_1 >div{
    width: 15%;
    
 } 
 .Footer .Footer_1 .Follow .Follow_Content a img{
    width: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    
 }
 .Footer .Footer_1 .Follow .Follow_Content a {
    color: rgba(0,0,0,.65);
    text-decoration: none;
    
    
 }
 .Footer .Footer_1 .Follow .Follow_Content a:hover {
    color: #777;
    
 }
 .Footer .Address{
    height: 40%;
    padding-top: 40px;
    background-color: #000000;
    color: white;
 }
 .Footer  .Address .Address_Content{
    padding-top:10px;    
 } 
 .Footer  .Address .Address_Content {
    text-align: center;
    color: white;
 }